*{
    margin: 0;
    padding: 0;
    background-color: darkgray;
}

.comic{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    color: rgb(34, 34, 34);
    font-family: Lato;
    font-size: 19px;
    font-weight: 400;
}
.comic__head{
    margin: 30px; 
}
.comic__name{
    margin-bottom: 15px;
}

#safe_title{
    margin-top: 50px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
